* {
  box-sizing: border-box;
}

.bcard {
  background-image: url(../BdayLuck/gifts.svg);
  background-size: 12rem 10rem;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  background-color: #ffd4e8;
  margin: 1rem 1rem 2rem 1rem;
  padding: 2rem;
  padding-bottom: 8rem;
}
