@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}

h1 {
  color: #1caeb1;
  font-family: Poppins;
}

.backcard {
  background-size: 12rem 10rem;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  background-color: #ffd4e8;
  display: flex;
  margin: 1rem 1rem 2rem 1rem;
  flex-direction: column;
  padding: 10rem;
  font-size: 1.5rem;
  height: 100%;
  align-items: center;
}

.clickbtn {
  color: #ff0077;
  font-family: Poppins;
  font-weight: 400;
  font-size: medium;
  margin: 0rem 1rem 1rem 1rem;
  border-radius: 10px;
  border-color: #1caeb1;
  padding: 0.2rem;
  margin: 1rem;
  -webkit-box-shadow: 5px 5px 13px 0px rgba(50, 50, 50, 0.39);
  -moz-box-shadow: 5px 5px 13px 0px rgba(50, 50, 50, 0.39);
  box-shadow: 5px 5px 13px 0px rgba(50, 50, 50, 0.39);
}

.gif {
  align-items: center;
  margin: 0.7rem;
}

@media screen and (max-width: 500px) {
  .backcard {
    background-size: 8rem 6rem;
    padding: 1rem;
    padding-bottom: 4rem;
    font-size: 1rem;
  }
}
